{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}State Groups{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="btn-group bottom">
                <button class="btn">{{ countryGroup ? countryGroup.officialName : 'Select the country group'}}</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for group in countryGroups %}
                        <li{% if countryGroup == group %} class="disabled"{% endif %}>
                            <a href="{{path('civix_front_superuser_country_groups_children', {'id': group.id})}}">{{ group.officialName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if countryGroup %}
                <a href="{{ path('civix_front_superuser_group_switch', {'id': countryGroup.id}) }}" title="Manage"><i class="icon-wrench"></i>Manage</a>
            {% endif %}
            {% if pagination %}
            <br><br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="span1">{{ knp_pagination_sortable(pagination, 'Id', 'g.id') }}</th>
                        <th class="span5">{{ knp_pagination_sortable(pagination, 'Official Name', 'g.officialName') }}</th>
                        <th class="span4">{{ knp_pagination_sortable(pagination, 'Location Name', 'g.locationName') }}</th>
                        <th class="span2">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in pagination %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{% if group.officialName %}{{ group.officialName }}{% else %}{{ group.locationName }}{% endif %}</td>
                        <td>{{ group.locationName }}</td>
                        <td class="table-options">
                           <a href="{{ path('civix_front_superuser_group_switch', {'id': group.id}) }}" title="Manage"><i class="icon-wrench"></i>Manage</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center">Table is empty.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
