{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Update represenatives from Cicero by State{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action="" method="POST">
                {{ form_widget(settingsForm) }}
                <div class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="span2">{{ knp_pagination_sortable(pagination, 'State', 'state') }}</th>
                        <th class="span4">Representatives for update</th>
                        <th class="span2">Last update</th>
                        <th class="span2">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stateRecord in pagination %}
                    <tr>
                        <td>{{ stateRecord[0].code }}</td>
                        <td>{{ stateRecord.stcount }}</td>
                        <td>{{ stateRecord.lastUpdatedAt }}</td>
                        <td class="table-options">
                           {% if  stateRecord.stcount>0 %}
                           <form class="form-link" action="{{ path('civix_front_superuser_settings_states_update', {'state': stateRecord[0].code}) }}" method="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('state_repr_update_' ~ stateRecord[0].code) }}">
                                <button type="submit" class="btn btn-link">Update</button>
                           </form>
                           {% else %}
                                <button class="btn btn-link disabled">Update</button>
                           {% endif%}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" style="text-align: center">Table is empty.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock content %}
