{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Edit news{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form action="{{ path('civix_front_' ~ owner ~ '_news_edit', {'id': news.id}) }}" method="POST" enctype="multipart/form-data">

                {{ form_row(form.question.subject) }}

                {%  include "CivixFrontBundle::educational-context.html.twig" with {'form':form.educationalContext} %}

                {% if isShowGroupSection %}
                    {%  include "CivixFrontBundle::group-sections.html.twig" with {'question':form.question} %}
                {% endif %}
                
                {{ form_widget(form._token) }}
                <div class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a class="btn" href="{{ path('civix_front_' ~ owner ~ '_news_index') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
    '@CivixFrontBundle/Resources/public/js/question.create.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}